                            /*** rules for memory jar ***/
                            
                            
/*** rules for the head subsections ***/
#head_acct{
height: 20px;
background-color: red;
width: 100%;
}
#head_logo{
height: 40px;
width: 100%;
background-color: blue;
}
#head_nav{
height: 40px;
width: 100%;
background-color: green;
}
/** rules for the Main ***/
#main{
	background-color:gray;
}
#interactive{
	float: left;	
}
/** rules for the userNav **/
#userNav{
	width: 400px;
	float: left;
	border: 1px red solid;
}
/** rules for useroutput **/
#output{
   width: 600px;
   float: left;
   border: 1px green solid;
}
/***  Rules for the Memories ***/
.singlemem{
	width: 300px;
	border: inset white 3px;
	box-shadow: 10px 10px 5px #222222;
	color: #7cfc00;
    background-color: rgba(46,139,87,0.3);
}
.singlemem p{
	padding-right: 5px;
	padding-left: 5px;
}
.singlemem_title{
	font-size: large;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 5px;
}
/** rules for memLinks **/
.memlink{
	width: 200px;
	color: #444444;
}
.memlink2{
	width: 200px;
text-shadow: 0px 0px 3px #ffffff, 0px 0px 2px #00aaee, 0px 0px 1px #Fafafa;
}
