                            /*** rules for memory jar ***/
                            
                            
/*** rules for the head subsections ***/
#head_acct{
height: 20px;
background-color: red;
width: 100%;
}
#head_logo{
height: 40px;
width: 100%;
background-color: blue;
}
#head_nav{
height: 40px;
width: 100%;
background-color: green;
}
/** rules for the Main ***/
#main{
	background-color:gray;
}
/***  Rules for the Memories ***/
.singlemem{
	width: 300px;
	border: inset black 3px;
	box-shadow: 10px 10px 5px #222222;
    background-color: rgba(255,255,255,0.5);
}
.singlemem p{
	padding-right: 5px;
	padding-left: 5px;
}
.singlemem_title{
	font-size: large;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 5px;
}
/** rules for memLinks **/
.memlink{
	color: #444444;
}
.memlink2{
text-shadow: 0px 0px 3px red, 0px 0px 2px orange, 0px 0px 1px #Fafafa;
}
